In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from src.salary_data.scraper import Scraper

In [2]:
sc = Scraper()
salaries = sc.get_cgecse_salaries(sc.URL_TESTIGO_BRUTO)
ipc = sc.get_ipc_indec()

In [3]:
salaries.tail()

jurisdiction,Buenos Aires,Catamarca,Chaco,Chubut,Ciudad de Buenos Aires,Córdoba,Corrientes,Entre Ríos,Formosa,Jujuy,...,Río Negro,Salta,San Juan,San Luis,Santa Cruz,Santa Fe,Santiago del Estero,Tierra del Fuego,Tucumán,Promedio Ponderado
date,,,,,,,,,,,,,,,,,,,,,
2023-06-01 00:00:00,227561.984,192193.0,200988.4395,180141.8748,202375.3211,245340.0405,231385.47,205518.0685,188867.0878,246311.6399,...,236881.348,291810.0,206711.3743,258945.3507,242166.08,260885.9979,240505.7116,253715.0299,183046.0071,222702.0
2023-09-01 00:00:00,325682.376,256739.5,292364.5861,243516.6055,276672.5097,349583.566,293499.47,290074.3116,233112.2478,270825.6399,...,327690.3055,382664.69,272909.4512,359959.108,324792.7546,338328.4129,330405.7116,304579.8786,265146.584,304686.0
2023-12-01 00:00:00,362115.624,293408.466,337109.3644,301326.5019,432310.232,426180.0985,319099.47,337608.8889,283112.2478,303949.52,...,327690.3055,426651.62,364922.08,440204.0333,437751.4507,432861.7977,380405.7116,343570.2257,277710.4645,360570.0
2024-03-01 00:00:00,555306.608,407034.0,498618.7652,429735.7406,618901.675,579095.7645,447299.47,449461.3235,321390.3097,380812.5733,...,556856.3935,623586.84,483811.6586,481504.0333,711831.2796,621337.0424,326771.4232,505593.6544,457446.8282,503115.0
2024-06-01 00:00:00,622913.944,501873.5,755777.7504,576303.5987,746767.93,704285.5386,589632.8,522363.6948,400330.6157,441582.0813,...,773658.3196,753726.88,597568.4869,648118.58,877622.6205,727253.1167,516410.5014,678010.2811,505326.4,620231.0

In [4]:
ipc.tail()

Total nacional,Nivel_general,Alimentos_bebidas_no_alcohólicas,Bebidas_alcohólicas_tabaco,Prendas_de_vestir_calzado,Vivienda_agua_electricidad_gas_otros_combustibles,Equipamiento_mantenimiento_del_hogar,Salud,Transporte,Comunicación,Recreación_cultura,Educación,Restaurantes_hoteles,Bienes_servicios_varios,Estacional,Núcleo,Regulados,Bienes,Servicios
2024-06-01 00:00:00,6351.7145,7117.2232,4880.2257,5736.1025,5283.2155,6073.2079,7130.9268,6801.4888,5644.1836,5734.3613,4514.8581,6632.3116,6327.35,6811.1236,6414.6575,5910.154,6928.333,5235.4595
2024-07-01 00:00:00,6607.7479,7345.4071,5178.7502,5829.6937,5600.4988,6282.946,7548.0608,6978.9894,5844.002,6059.3057,4704.182,7061.2046,6545.9203,7156.7976,6657.49,6166.198,7148.9486,5570.5076
2024-08-01 00:00:00,6883.4412,7611.7813,5336.2611,5949.5541,5995.2852,6550.7845,7860.4897,7334.9917,6127.5967,6282.238,5013.1678,7403.1627,6694.7187,7266.119,6931.7976,6529.3696,7376.383,5933.3964
2024-09-01 00:00:00,7122.2421,7787.1421,5453.5896,6308.9971,6433.362,6727.2351,8122.6169,7585.411,6310.1757,6416.1845,5229.2692,7673.8443,6918.4736,7479.6823,7157.9271,6825.2577,7600.0603,6204.7132
2024-10-01 00:00:00,7313.9542,7880.5855,5617.0301,6588.1894,6780.4099,6903.0355,8412.0394,7677.7334,6440.16,6599.9443,5409.7822,8000.7985,7112.7304,7581.5911,7366.7823,7009.2808,7756.8184,6469.062

In [13]:
salaries.merge(ipc, left_index=True, right_index=True).tail()

,Buenos Aires,Catamarca,Chaco,Chubut,Ciudad de Buenos Aires,Córdoba,Corrientes,Entre Ríos,Formosa,Jujuy,...,Comunicación,Recreación_cultura,Educación,Restaurantes_hoteles,Bienes_servicios_varios,Estacional,Núcleo,Regulados,Bienes,Servicios
2023-06-01 00:00:00,227561.984,192193.0,200988.4395,180141.8748,202375.3211,245340.0405,231385.47,205518.0685,188867.0878,246311.6399,...,1244.8,1561.7425,1410.4778,1890.0322,1464.0524,2094.7124,1746.7824,1383.8634,1870.0638,1395.1812
2023-09-01 00:00:00,325682.376,256739.5,292364.5861,243516.6055,276672.5097,349583.566,293499.47,290074.3116,233112.2478,270825.6399,...,1598.7345,2230.9342,1759.2371,2586.0182,1901.2072,2794.0242,2400.9928,1732.073,2559.1874,1802.2382
2023-12-01 00:00:00,362115.624,293408.466,337109.3644,301326.5019,432310.232,426180.0985,319099.47,337608.8889,283112.2478,303949.52,...,2398.1411,3317.3409,2157.4419,3831.9303,3029.3357,3942.5343,3799.9487,2452.7844,4091.9271,2440.8926
2024-03-01 00:00:00,555306.608,407034.0,498618.7652,429735.7406,618901.675,579095.7645,447299.47,449461.3235,321390.3097,380812.5733,...,4338.0607,4846.7452,3653.0356,5511.0135,5586.4345,5534.7104,5612.3991,4441.3132,6086.8421,3937.9689
2024-06-01 00:00:00,622913.944,501873.5,755777.7504,576303.5987,746767.93,704285.5386,589632.8,522363.6948,400330.6157,441582.0813,...,5644.1836,5734.3613,4514.8581,6632.3116,6327.35,6811.1236,6414.6575,5910.154,6928.333,5235.4595

In [65]:
import re
from datetime import datetime

def convertir_fecha_espanol(fecha_texto):
    """
    Convierte una fecha en formato de texto en español (ej.: "24 de abril de 1917[4]​")
    a un objeto datetime de Python, eliminando contenido irrelevante.
    """
    # Eliminar cualquier contenido después de un corchete "[" o después del año
    fecha_texto = re.sub(r"\[.*", "", fecha_texto).strip()  # Elimina contenido después de "["
    fecha_texto = re.sub(r"(\d{4}).*", r"\1", fecha_texto).strip()  # Mantiene todo hasta el año (4 dígitos)
    
    # Diccionario para convertir meses en español a inglés
    meses = {
        "enero": "January", "febrero": "February", "marzo": "March", "abril": "April",
        "mayo": "May", "junio": "June", "julio": "July", "agosto": "August",
        "septiembre": "September", "octubre": "October", "noviembre": "November", "diciembre": "December"
    }
    
    # Reemplazar el nombre del mes en español por su equivalente en inglés
    for mes_es, mes_en in meses.items():
        fecha_texto = fecha_texto.lower().replace(mes_es, mes_en)
    
    # Intentar convertir al formato datetime
    try:
        return datetime.strptime(fecha_texto, "%d de %B de %Y")
    except ValueError:
        return None  # Manejo en caso de que la fecha no sea válida

In [68]:
# URL de la página de Wikipedia
url = "https://es.wikipedia.org/wiki/Anexo:Gobernadores_de_la_provincia_de_Buenos_Aires"

# Realizar la solicitud HTTP
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Encontrar el encabezado específico
    encabezado = soup.find('h2', id="Gobernadores_de_la_provincia_de_Buenos_Aires_después_de_la_Ley_Sáenz_Peña_(1914-presente)")
    
    # Obtener la tabla que aparece justo después de este encabezado
    tabla = encabezado.find_next('table', class_='wikitable')
    
    # Crear listas para almacenar los datos
    inicio_periodo = []
    fin_periodo = []
    gobernadores = []
    partidos = []
    
    # Iterar sobre las filas de la tabla
    filas = tabla.find_all('tr')[1:]  # Saltar la cabecera
    for fila in filas:
        columnas = fila.find_all('td')
        if len(columnas) >= 6:
            # Extraer los datos necesarios
            gobernador = columnas[1].text.strip()
            inicio = columnas[2].text.strip()
            fin = columnas[3].text.strip()
            partido = columnas[5].text.strip()
            
            # Convertir las fechas al formato datetime
            inicio_fecha = convertir_fecha_espanol(inicio)
            fin_fecha = convertir_fecha_espanol(fin)
            
            # Agregar los datos a las listas
            inicio_periodo.append(inicio_fecha)
            fin_periodo.append(fin_fecha)
            gobernadores.append(gobernador)
            partidos.append(partido)
    
    # Crear un DataFrame de pandas
    data = {
        "Gobernador": gobernadores,
        "Partido": partidos
    }
    index = pd.to_datetime(inicio_periodo)  # Las fechas convertidas se usan como índice
    df = pd.DataFrame(data, index=index)
else:
    print(f"Error al acceder a la página: {response.status_code}")

In [72]:
df.head(20)

                          Gobernador              Partido
1914-05-01          Marcelino Ugarte  Partido Conservador
1917-04-24         José Luis Cantilo                  UCR
1918-05-01        José Camilo Crotto                  UCR
1921-05-20           Luis Monteverde                  UCR
1922-05-01         José Luis Cantilo                  UCR
1926-05-01          Valentín Vergara                  UCR
1930-05-01            Nereo Crovetto                  UCR
1930-09-09   Carlos Meyer Pellegrini                    —
1930-12-31         Clodomiro Zavalía                    —
1931-01-19   Carlos Meyer Pellegrini                    —
1931-05-04         Mariano Vedia (H)                    —
1931-05-12     Manuel Ramón Alvarado                  PDN
1931-10-02            Raymundo Meabe                 PLCo
NaT               Honorio Pueyrredón            Abril1931
1932-02-18  Federico Martínez de Hoz                  PDN
1935-03-15                 Raúl Díaz                  PDN
1936-01-20         Edgardo J. Míguez                  PDN
1936-01-29                 Raúl Díaz                  PDN
1936-02-18             Manuel Fresco                  PDN
NaT                  Alberto Barceló                 1940

In [64]:
convertir_fecha_espanol("24 de abril de 1917[4]​")

datetime.datetime(1917, 4, 24, 0, 0)

In [ ]:
24 de abril de 1917[4]​